spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  docker:
    compose:
      lifecycle-management: start_only

our:
  domain: http://localhost:3000